
@media screen and (min-width:250px ) and (max-width: 662px){
    .form-container{
    width: 60%;
    flex-wrap: wrap;
    }
    
    .wrapper{
        flex-direction: column;
        align-items: center;
    }
    
    
    .compte{
        padding-top: 15px;
          
    }
    }

    @media all and (max-height: 568px){
       .body{
           height: auto;
    } 

    }

    @media all and (max-height: 720px){
        .body{
            height: none;
     } 
     
     }