/**********LOGIN*********/

* {
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.body {
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(8, 59, 76, 1) 19%,
    rgba(222, 167, 2, 1) 100%
  );
}

/** HEADER LOGIN****/
header .head {
  height: 101px;
}

.fleche {
  color: white;
  font-size: 46px;
  padding-top: 7px;
  padding-left: 5px;
}

.fleche ion-icon {
  color: white;
  transition: color 1s ease-in-out;
}

.fleche ion-icon:hover {
  color: rgba(222, 167, 2, 1);
}

/**LOCK (IMAGE)LOGIN**/
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.lock #icone {
  font-size: 159px;
  color: white;
  transition: color 1s ease-in-out;
}

.lock #icone:hover {
  color: rgba(222, 167, 2, 1);
}

/**FORMS LOGIN***/

.forms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  padding-top: 25px;
}

label {
  color: white;
  font-size: 18px;
}

.group-input .input-style {
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: white;
}

.group-input .input-style:hover {
  opacity: 1;
}

/**********LINK LOGIN****/
.wrapper {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 235px;
}

.compte a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.link a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.link a:hover,
.compte a:hover {
  opacity: 2;
}

/**BOUTON VALIDER LOGIN**/

.group-input,
.button {
  margin-bottom: 35px;
}

.button {
  text-align: center;
}

.button input {
  height: 27px;
  width: 71px;
  border-radius: 18px;
  border: none;
  outline: none;
  font-size: 14px;
  color: white;
  background: rgba(8, 59, 76, 1);
}

/***EFFET HR LOGIN ****/
.focus-input{
  width: 92%;
}
.focus-input::before {
  content: "";
  display: block;
  height: 2px;
  transition: all 0.4s;
  background: linear-gradient(45deg, #d5007d, #e53935);
  transform: scaleX(0);
}

.focus-input:hover::before,
.focus-input:focus::before {
  transform: scaleX(1);
}

.input-style:focus + .focus-input::before {
  width: 100%;
}

.has-val.input-style + .focus-input::before {
  width: 100%;
}


/*******PAGE CREATION DE COMPTE ***/
.compte-contenair {
  background-image: url(images/praxis.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.compte-form {
  background-color: rgba(222, 167, 2, 1);
  width: 33%;
  padding-top: 26px;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titre {
  text-align: center;
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  font-weight: normal;
  color: rgba(8, 59, 76, 1);
}

form {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 68%;
  justify-content: space-evenly;
}

/***INPUT CREATION COMPTE***/
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

.input-group label {
  color: rgba(8, 59, 76, 1);
  font-weight: lighter;
  padding-bottom: 6px;
  font-size: 19px;
}

.input-group input {
  background: none;
  outline: none;
  border: none;
  color: black;
  font-size: 16px;
}

/* .input-group input:focus{
        transition: all 0.4s;
      
        background: #d5007d;
        background: linear-gradient(45deg, #d5007d, #e53935);
      } */

/***HR CREATION COMPTE******/

hr {
  border: 1px solid darkslategray;
  
}

hr::before {
  content: "";
  display: block;
  height: 2px;
  transition: all 0.4s;
  background: linear-gradient(45deg, #d5007d, #e53935);
  transform: scaleX(0);
}

hr:hover::before,
hr:focus::before {
  transform: scaleX(1);
}

.button2 {
  height: 18px;
}

/*****FLECHE CREATION COMPTE****/
.fleche2 {
  height: 17%;
  display: flex;
  align-items: flex-end;
  padding-left: 9px;
  font-size: 34px;
  color: white;
  align-self: end;
}

.bas {
  color: white;
  transition: color 1s ease-in-out;
}

.bas:hover {
  color: rgba(8, 59, 76, 1);
}

/* input:invalid {
          box-shadow: 0 0 5px 1px red;
        }
        
        input:focus:invalid {
          outline: none;
        } */

/*****Home Page ******/

.card {
  border: 3px solid #dea702;
  margin-bottom: 25px;
}

.btn {
  background-color: #083b4c;
  color: #dea702;
}

.btn:hover {
  color: white;
}

footer {
  background-color: #dea702;
}

footer h5 {
  color: white;
}

p {
  color: #083b4c;
}

p > b {
  text-transform: uppercase;
}

a.nav-link {
  display: block;
  color: #083b4c;
  padding-top: 18px;
  padding-bottom: 16px;
}

a.nav-link:hover {
  color: #dea702;
}

#connect {
  padding: 0;
}

#connect:hover {
  background-color: white;
}

li.btn {
  background-color: #dea702;
}

h1 {
  text-transform: uppercase;
  color: #dea702;
}

h2 {
  text-transform: uppercase;
  color: #083b4c;
}

.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 100px;
}

#empty {
  padding: 60px 30px;
  text-align: center;
  font-size: 26px;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .bg-image {
    background-image: url("images/Hero.png");
    height: 400px;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 1000px) {
  .bg-image {
    background-image: url("images/Hero.png");
    height: 400px;
    background-attachment: fixed;
    background-size: contain;
    /* background-position  : 0% 160%; */
  }
}

/****** gestion webinaire ******/

.btn-supprimer {
  width: 32px;
  height: 32px;
}
.btn-editer {
  width: 32px;
  height: 32px;
}

.btn-ajouter {
  width: 64px;
  height: 64px;
}

.ajouter-webinaire {
  border: 3px solid #dea702;
  margin-bottom: 25px;
  padding: 30px;
}
